.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 50%;
        }
    }
    &__official {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        span {
            display: block;
            font-size: 18px;
        }
    }
    &__phone {
        display: block;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        text-decoration: underline;
        &:hover {
            color:#ffffff;
            text-decoration: none;
        }
    } 
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__cart {
        width: 35px;
        text-decoration: none;
        img {
            filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(27deg) brightness(104%) contrast(101%);
        }
        &_total {
            position: relative;
            font-size: 12px;
            top: -46px;
            background-color: red;
            color: #FFF;
            min-width: 18px;
            width: fit-content;
            min-height: 18px;
            height: fit-content;
            display: flex;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            left: 18px;
            padding: 4px;
            padding-right: 5px;
        }
    }
}